---
# tasks file for kvm

- name: Include distribution specific variables
  include_vars: "{{ ansible_distribution }}.yml"
  tags: kvm

- include: CentOS.yml
  when: ansible_distribution == "CentOS"
  tags: kvm

- include: Ubuntu.yml
  when: ansible_distribution == "Ubuntu"
  tags: kvm
